<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-spreadsheets">Data Organization in Spreadsheets for Ecologists</h3>
    <ul>
      <li>Introduction</li>
      <li>Formatting data tables in Spreadsheets</li>
      <li>Formatting problems</li>
      <li>Dates as data</li>
      <li>Quality control</li>
      <li>Exporting data</li>
      <li><a href="{{site.dc_pages}}/spreadsheet-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>
    <div class="col-md-6">
    <h3 id="syllabus-openrefine">Data Cleaning with OpenRefine for Ecologists</h3>
    <ul>
      <li>Introduction</li>
      <li>Working with OpenRefine</li>
      <li>Filtering and Sorting with OpenRefine</li>
      <li>Examining Numbers in OpenRefine</li>
      <li>Scripts from OpenRefine</li>
      <li>Exporting and Saving Data from OpenRefine</li>
      <li>Other Resources in OpenRefine</li>
      <li><a href="{{site.dc_pages}}/OpenRefine-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Data Analysis and Visualization in Python for Ecologists</h3>
    <ul>
      <li>Short Introduction to Programming in Python</li>
      <li>Starting With Data</li>
      <li>Indexing, Slicing and Subsetting DataFrames in Python</li>
      <li>Data Types and Formats</li>
      <li>Combining DataFrames with Pandas</li>
      <li>Data Workflows and Automation</li>
      <li>Making Plots with plotnine</li>
      <li>Data Ingest and Visualization - Matplotlib and Pandas</li>
      <li>Assessing SQLite Databases Using Python and Pandas</li>
      <li><a href="{{site.dc_pages}}/python-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>
  

  <div class="col-md-6">
    <h3 id="syllabus-sql">Data Management with SQL for Ecologists</h3>
    <ul>
      <li>Databases using SQL</li>
      <li>Basic Queries</li>
      <li>SQL Aggregation and aliases</li>
      <li>Joins</li>
      <li><a href="{{site.dc_pages}}/sql-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>

